{{ if eq .chezmoi.os "darwin" }}
# -------------------------------------------------------------
# MacOS Specific Configuration
# -------------------------------------------------------------

if command -v gdircolors >/dev/null 2>&1; then
  test -r "$HOME/.dircolors" && eval "$(gdircolors -b "$HOME/.dircolors")"
fi

if command -v gls >/dev/null 2>&1; then
  alias ls='gls --color=auto'
else
  alias ls='ls -G'
fi

{{ else if eq .chezmoi.os "linux" }}
# -------------------------------------------------------------
# Linux/GNU Specific Configuration
# -------------------------------------------------------------
export PATH="/usr/local/bin:/usr/bin:/bin:/usr/local/games:/usr/games:$HOME/.local/bin:$HOME/.atuin/bin:$HOME/go/bin:$PATH"

test -r "$HOME/.dircolors" && eval "$(dircolors -b "$HOME/.dircolors")"
alias ls='ls --color=auto'

{{ if lstat "/proc/sys/fs/binfmt_misc/WSLInterop" }}
# -------------------------------------------------------------
# WSL Specific Configuration
# -------------------------------------------------------------
export BROWSER="wslview"
{{ end }}
{{ end }}

zstyle ':completion:*' list-colors "${(s.:.)LS_COLORS}"

if [ -f "$HOME/.zshrc_ext" ]; then
    . "$HOME/.zshrc_ext"
fi

case $- in
    *i*) ;;
    *) return;;
esac
